<aside class="sidebar">

<div class="logo">

<h2>🎓 EduPath</h2>

<p>AI Education Platform</p>

</div>

<nav>

<a href="home.html">
<i class="fa-solid fa-house"></i>
<span>Dashboard</span>
</a>

<a href="learn.html">
<i class="fa-solid fa-book-open"></i>
<span>Learn</span>
</a>

<a href="search.html">
<i class="fa-solid fa-magnifying-glass"></i>
<span>Search</span>
</a>

<a href="note.html">
<i class="fa-solid fa-note-sticky"></i>
<span>My Notes</span>
</a>

<a href="ai.html">
<i class="fa-solid fa-robot"></i>
<span>AI Advisor</span>
</a>

<a href="flashcards.html">
<i class="fa-solid fa-layer-group"></i>
<span>Flashcards</span>
</a>

<a href="planner.html">
<i class="fa-solid fa-calendar-days"></i>
<span>Planner</span>
</a>

<a href="marketplace.html">
<i class="fa-solid fa-store"></i>
<span>Marketplace</span>
</a>

<a href="analytics.html">
<i class="fa-solid fa-chart-line"></i>
<span>Analytics</span>
</a>

<a href="profile.html">
<i class="fa-solid fa-user"></i>
<span>Profile</span>
</a>

</nav>

</aside>